.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
**/.obsidian/workspace.json
**/.obsidian/workspace-mobile.json
**/.obsidian/cache/
**/.obsidian/plugins/*/.git
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
.turbo/
.pandoc
